* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	text-shadow: 0 0 1px rgba(0,0,0,.01);
	color: #333;
}
body {
	font: normal 15px/15px "Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
color:#0066CC;
text-decoration:none;
}

a:hover {
color:#003399;
}
a:active {
color:#001177;
}

col.type {
	width:55px;	
}
#header {
	margin: 20px auto;
	width:960px;
}
#logo {
	width: 500px;
	text-indent: -99999px;
	margin-left:-20px;
	height: 95px;
	background: transparent url(../images/logo.png) no-repeat 0 0;
	display: block;
	outline: none;
}
.logo {
	float:left;
}
.contact {
	float:right;
	display:block;
	margin-top:29px;
	line-height:18px;
}

.clear {
	clear:both;
}	
#stripe {
	background: transparent url(../images/stripe.png) repeat-x;
	height: 9px;
	clear:both;
}
#main {
	width: 960px;
	margin: 30px auto;
}

#nav-block {
	width: 190px;
	float: left;
	font-size:14px;
	line-height:24px;
	margin::10px 0;
	padding:0 10px;
}
ul.navigation {
margin:38px 0;
}
ul.navigation li {
border-bottom:1px solid #E5EEF6;
color:#BBCCDD;
font-weight:bold;
list-style:none outside none;
margin:0 18px 0 -18px;
padding:5px 0 5px 10px;
text-shadow:0 1px 0 #FFFFFF;
}
ul.navigation li a {
display:block;
color:#0066CC;
font-weight:bold;
text-decoration:none;
}

ul.navigation li.active {
background:url("../images/navigation_active.gif") no-repeat scroll right center transparent;
border-bottom:0 none;
margin:-1px 0 0 -18px;
padding:0 0 0 18px;
}

body.layout-alt ul.navigation li.active {
background:url("../images/navigation_active.gif") no-repeat scroll right center transparent;
margin:-1px 0 0 -18px;
padding:0 18px 0 0;
}

ul.navigation li.active a {
	border-color:#CCDDEE;
	border-style:solid;
	border-width:1px 0 1px 1px;
	color:#222233;
	display:block;
	margin:0 18px 0 -18px;
	padding:5px 0 5px 9px;
	text-shadow:0 1px 0 #fff;
}

ul.navigation li.secondary a {
	color:#666666;
	font-size:12px;
}

#content {
	width: 730px;
	float: left;
	padding-left:20px;
}
#maincol {
	float:left;
	width:530px;
}
#maincol-wide {
	float:left;
	width:100%;
	padding-bottom:20px;
}
#maincol-wide table {
	width:100%;
	font-size:12px;
  margin-bottom:10px;
}
#maincol-wide table tr.label {
background-color:#dae9ed;
line-height:18px;
}
#maincol-wide table tr.bg {
background-color:#ebfaff;
}
#maincol-wide table td {
padding:5px 10px 5px 2px;
}
#sidecol {
	float:right;
}

#content a {
	color: #2E79B8;
	border-bottom: 1px solid #eee;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition-property: color;
}
#content a:hover {
	color: #51abe2;
}
#content h1 {
	color:#B71D5A;
	font-family:"Gotham Rounded","Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:24px;
	line-height:32px;
	width:550px;
}
#content a {
	border: 0;
}
#content h2 {
	color:#B71D5A;
	font-family:"Gotham Rounded","Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:18px;
	line-height:24px;
	margin:0 0 5px;
	clear:both;
}

#content p.intro {
	moz-border-radius:4px 4px 4px 4px;
	background:none repeat scroll 0 0 #eeeeee;
	clear:both;
	color:#000000;
	display:block;
	font-size:18px;
	line-height:28px;
	margin:5px -10px 24px;
	padding:10px 15px;
	text-shadow:1px 1px 1px #FFFFFF;
	width:710px;
}
#content p.second-intro {
	clear: both;
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 40px;
	background: none;
}
#content p.intro a {
	border-bottom: none!important;
}
#content div.text {
	float: left;
	width: 100%;
}
#content div.text p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 20px;
}
#content div.text .subtitle {
	display:block;
	padding-top:20px;
}
#content div.text .h2 {
	display:block;
	padding-top:20px;
	color:#B71D5A;
	font-family:"Gotham Rounded","Helvetica Neue",Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:18px;
	line-height:24px;
	margin:0 0 5px;
}


#content div.text img {
	float:right;
	margin:10px 0 20px 20px;
}
#content div.text p.bullet {
	padding-left: 20px;
	background: url(../images/bullet.png) no-repeat 0 6px;
}
#content div.text p.second-bullet {
	padding-left: 20px;
}
#content div.text p#contact_info {
	padding-bottom:200px;
	font-size:18px;
	line-height:35px;
}
#footer {
	moz-border-radius:4px 4px 4px 4px;
	margin:5px -10px 0;
	background:none repeat scroll 0 0 #eee;
	clear:both;
	color:#666;
	font-size:13px;
	line-height:20px;
	padding:10px 15px;
	width:710px;
}

#manual-toc li {
	line-height:20px;
	list-style-type: disc;
	margin-left:15px;
}

#manual-toc h2 {
	color:#000;
}	
#manual-contents strong {
	margin:25px 0 10px;
	display:block;
	clear:both;
}
#manual-contents div.text img {
	float:left;
	padding:10px 0;
}

#manual-contents h2 {
	margin-top: 50px;
	padding-top:20px;
	border-top: 5px solid #eee;
}
#manual-contents li {
	line-height:20px;
	list-style-type: circle;
	margin:0 0 3px 15px;
	clear:both;
}
#manual-contents li.secondary {
	list-style-type: none;
	margin: 0 0 0 15px;
}
#manual-contents ul {
	margin-bottom:20px;
}
.notes {
	clear:both;
}	
.notes strong {
	margin-bottom:5px;
	display:block
}
.notes ul {
	margin-bottom:20px;
}
.notes li {
  line-height:20px;
	list-style-type: disc;
  margin-left:15px;
}
#testing_contditions li, #applications li {
	margin:15px 0 3px 15px;
	font-weight:bold;
	clear:both;
}	
#testing_contditions li.secondary,  #applications li.secondary {
	font-weight:normal;
}	
#content div.text p.list-intro {
margin-bottom:5px;
}

tr.header {
	font-weight:bold;
}
em {
	font-weight:bold;
	color:#454545;
}	